body {
    background-color: rgb(36, 36, 124);
    text-align: center;
  }
  
  .container {
    display: flex;
    justify-content: center;
  }
  
  h1 {
    font-size: 50px;
    display: inline-block;
  }

  .grid {
    margin: 2vmin;
    display: grid;
    background-color: rgb(114, 202, 234);
    grid-template-columns: repeat(10, 4.6vmin);
    grid-template-rows: repeat(10, 4.6vmin);
  }
  
  .grid > div {
    border: solid 1px rgba(0, 0, 0, 0.787);
  }

  .taken, .ship {
    background-color: gray;
  }

  .grid-display {
    display: flex;
  }
  
  .ship > div {
    width: 4.6vmin;
    height: 4.6vmin;
  }
  
  .ship {
    display: flex;
    flex-wrap: wrap;
    margin: 1vmin;
    width: calc(4.6vmin * var(--width, 1));
    height: calc(4.6vmin * var(--height, 1));
  }

  .grid-computer > .taken {
    background-color: rgb(114, 202, 234);
  }

  .destroyer-container {
    --width: 2;
   }

   .destroyer-container-vertical {
    --height: 2;
    --width:1;
  }

   .submarine-container, .cruiser-container {
    --width: 3;
  }

  .submarine-container-vertical, .cruiser-container-vertical {
    --height: 3;
    --width:1;
  }

  .battleship-container {
    --width: 4;
  }

  .battleship-container-vertical {
    --height: 4;
    --width:1;
  }

  .carrier-container {
    --width: 5;
  }

  .carrier-container-vertical {
    --height: 5;
    --width:1;
  
  }

  .hit {
    background-color: red !important;
  }
  
  .miss {
     background-color: black;
  }